<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.shahin8r.videometadata" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>VideoMetadata</name>
  <author>shahin8r</author>
  <repo>https://github.com/shahin8r/cordova-plugin-videometadata.git</repo>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module name="VideoMetadata" src="www/videometadata.js">
    <clobbers target="cordova.plugins.VideoMetadata" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="VideoMetadata">
        <param name="android-package" value="com.shahin8r.plugin.VideoMetadata"/>
      </feature>
    </config-file>

    <source-file src="src/android/VideoMetadata.java" target-dir="src/com/shahin8r/plugin/"/>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="VideoMetadata">
        <param name="ios-package" value="SH8VideoMetadata" />
      </feature>
    </config-file>

    <header-file src="src/ios/SH8VideoMetadata.h" target-dir="VideoMetadataPlugin"/>
    <source-file src="src/ios/SH8VideoMetadata.m" target-dir="VideoMetadataPlugin"/>
  </platform>

</plugin>